<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <title>RNU问卷调查</title>
    <style type="text/css">
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
	background:url("http://lxz.q520.tk/rnu.png");
}
h1, h3 {
    margin-bottom: 10px;
		color: blue;
}

ol {
    margin-left: 20px;

}

li {
    margin-bottom: 10px;
	color: wheat;

}

textarea, input[type="text"] {
    width: 100%;
    background:url()
}
    </style>
</head>
<body>
	<form method="post" action="/rnu">
<h1>RNU问卷调查</h1>

<h3>选择题</h3>
<ul>
    <li>
        <p>1. 你是？</p>
        <label><input type="radio" name="A1">A. 神权（）</label><br />
        <label><input type="radio" name="B1">B. 超多物资的人</label><br />
        <label><input type="radio" name="C1">C. 新手</label><br />
        <label><input type="radio" name="D1">D. 能跑图（Run Max）</label><br />
    </li>
    <li>
        <p>2. 是否加入过其他组织？</p>
        <label><input type="radio" name="A2">A. 是</label><br />
        <label><input type="radio" name="B2">B. 不是</label><br />
        <label>
            <input type="radio" name="C2">
        </label>C. 拿走些物资，然后走了</label><br />
        <label>
            <input type="radio" name="D2">
            D. 新手
        </label><br />
    </li>
</ul>

<h3>简答题</h3>
<ul>
    <li>
        <p>3.怎么了解到组织（怎么加的群）</p>
        <label>
            <input type="text" name="three">
        </label>
    </li>
    <li>
        <p>4. 在线时长及在线时间段？</p>
        <label>
            <input type="text" name="four">
        </label>
    </li>
    <li>
        <p>5. 你想要加入的部门？（宣传，pvp，口嗨，萌新救助，后勤，技术，建筑）</p>
        <label>
            <input type="text" name="five">
        </label>
    </li>
    <li>
        <p>6.你在其他组织是否有审核及管理经验？</p>
        <label>
            <input type="text" name="six">
        </label>
    </li>
	<li>
	    <p>7. 你了解那些MC外挂？会不会写端(上传一个你写的端以证明)</p>
        <label>
            <input type="text" name="seven">
        </label>
    </li>
    	<li>
	    <p>8. 怎么了解到2b2t.fun的?是否忠于RNU组织？</p>
        <label>
            <input type="text" name="ait">
        </label>
    </li>
    	<li>
	    <p>9. 你的年龄？（RNU会保护你的隐私不被侵犯，请放心填写）/p>
        <label>
            <input type="text" name="zb">
        </label>
    </li>
</ul>

<br/>
	<input type="submit" value="提交">

<br>
<br>
<br>
<br>
<li>
	什么？你已经通过了？
    <br>
    <a href="http://lxz.q520.tk/shmb.docx">来填写二阶段审核</a>
</li>
<script type="text/javascript">

</script>
</form>
</body>
</html>
